@using RandImportGenerator.Web.Utility

@model RandImportGenerator.Web.Models.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}
<div id="indexApp">
    <div class="row">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary" v-on:click="CreateFile" v-bind:disabled="IsDefinitionValid == false">Create File</button>
            <button class="btn-link" v-on:click="Reset">Reset</button>
        </div>
    </div>
    <div class="app-container radius">
        <h3>Basic Config</h3>
        <div class="row">
            <div class="col-sm-6">
                <label></label>
                <input type="number" class="form-control inline" v-model="Definition.RowCount" required min="1"/>
            </div>
            <div class="col-sm-6">
                <select v-model="Definition.QuoteType" class="form-control inline" >
                    <option v-bind:value="null" disabled selected>Select</option>
                    <option v-for="option in QuoteTypeOptions" v-bind:value="option.Value">
                        {{option.Text}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="app-container radius">
        <div>
            <h3>Add Columns</h3>
            <div class="row">
                <div class="col-sm-12">
                    <select v-model="ColumnType" class="form-control inline" v-on:change="LoadColumnEditor(undefined)" v-bind:disabled="IsEdit == true">
                        <option v-bind:value="null" disabled selected>Select</option>
                        <option v-for="option in ColumnTypeOptions" v-bind:value="option.Value">
                            {{option.Text}}
                        </option>
                    </select>
                </div>
            </div>
            <hr class="thin" />
            <component v-bind:is="CurrentEditor" v-bind:key="EditorKey" v-bind:definition="ToEdit" v-bind:type="EditorType"></component>
        </div>

        <column-list></column-list>
    </div>
</div>


@section config{
    @*Injected config*@
    @Html.RenderJsonConfigTags(new Dictionary<string, string>
    {
        {"config",  Model.GetClientConfig()},
        {"urlConfig", Model.GetUrls()}
    })
}

@section scripts{
    @Scripts.Render("~/bundles/home-index")    
}