@using RandImportGenerator.Web.Utility

@model RandImportGenerator.Web.Models.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>

</div>

@section config{
    @*Injected config*@
    @Html.RenderJsonConfigTags(new Dictionary<string, string>
    {
        {"config",  Model.GetClientConfig()},
        {"urlConfig", Model.GetUrls()}
    })
}

@section scripts{
    @Scripts.Render("~/bundles/home-index")    
}