@using RandImportGenerator.Web.Utility

@model RandImportGenerator.Web.Models.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="indexApp">
    <div class="row">
        <div class="col-sm-12">
            <select v-model="ColumnType" class="form-control inline" v-on:change="LoadColumnEditor">
                <option v-bind:value="null" disabled selected>Select</option>
                <option v-for="option in ColumnTypeOptions" v-bind:value="option.Value">
                    {{option.Text}}
                </option>
            </select>
        </div>
        <div id="columnEditorContent"></div>
    </div>
</div>

@section config{
    @*Injected config*@
    @Html.RenderJsonConfigTags(new Dictionary<string, string>
    {
        {"config",  Model.GetClientConfig()},
        {"urlConfig", Model.GetUrls()}
    })
}

@section scripts{
    @Scripts.Render("~/bundles/home-index")    
}