
<form v-on submit.prevent="Submit">
    <div class="row">
        <div class="col-sm-6">
            <label>Name</label>
            <input type="text" v-model="Definition.Name" v-bind disabled="IsEdit == true" class="form-control inline" required />
        </div>
        <div class="col-sm-6">
            <label>Order</label>
            <input type="number" v-model="Definition.Order" class="form-control inline" required min="0" />
        </div>
    </div>
    <hr class="thin" />
    <div class="row">
        <div class="col-sm-6">
            <label>Starting Sequence #</label>
            <input type="number" v-model="Definition.StartingSequenceNumber" class="form-control inline" required min="0" />
        </div>
        <div class="col-sm-6">
            <label>Increment Value</label>
            <input type="number" v-model="Definition.IncrementValue" class="form-control inline" required min="0" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
