
<hr class="thin"/>
<div id="autoIncrementedColumnApp">
    <form v-on:submit.prevent="Submit">
        @Html.Partial("~/Views/Shared/ColumnTemplates/ColumnBasePartial.cshtml")
        <hr class="thin"/>
        <div class="row">
            <div class="col-sm-6">
                <label>Starting Sequence #</label>
                <input type="number" v-model="Definition.StartingSequenceNumber" class="form-control inline" required min="0"/>
            </div>
            <div class="col-sm-6">
                <label>Increment Value</label>
                <input type="number" v-model="Definition.IncrementValue" class="form-control inline" required min="0"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Save</button>
                @*<input type="button" class="btn btn-danger" v-on:click.prevent="CancelEdit" value="Cancel"/>*@
            </div>
        </div>
    </form>
</div>
