
<div class="row">
    <div class="col-sm-6">
        <label>Name</label>
        <input type="text" v-model="Definition.Name" class="form-control inline" required/>
    </div>
    <div class="col-sm-6">
        <label>Order</label>
        <input type="number" v-model="Definition.Order" class="form-control inline" required min="0"/>
    </div>
</div>