
<div class="row">
    <div class="col-sm-6">
        <label>Name</label>
        <input type="text" v-model="Name" class="form-control inline"/>
    </div>
    <div class="col-sm-6">
        <label>Order</label>
        <input type="text" v-model="Order" class="form-control inline"/>
    </div>
</div>